# Object files
*.o
*.ko
*.lnp
*.d
*.map
*.lst
*.axf
*.htm
*.sct
*.crf
*.kdam1
*.Michael
*.bak


# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
