# Object files
obj/
*.o
*.ko
*.lnp
*.d
*.map
*.lst
*.axf
*.htm
*.sct
*.crf
*.uvgui.*
*.bak
*.dep


# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

